ul {
    list-style-type: none; /* bo dau cham" trong danh sach */
    margin: 0;
    padding: 0;    /* bo canh le cua danh sach */
    overflow: hidden;
}
#banner {
	z-index: -1;
	position: relative;
	height: 100px;
}

#top-menu li {
    float: left; /* noi list canh ben trai */
}

#top-menu ul {
	background-color: #333333; /* mau nen den */
}

#top-menu {
	position: relative;
}

li a {
    display: block;  /* hien link theo khoi"  */
    color: white;  /* mau chu~ */
    text-align: center; /* chu~ giua khoi */
    padding: 14px 16px; /* top = bot = 14, left = right = 16 */
    text-decoration: none; /* bo dau gach chan mac dinh cua link */
}

a:hover:not(.active) {  /* set mau sac background khi di chuyen chuot den" */
    background-color: #000033;
}

.active {
	background-color: green; 
}

#left {
	width: 15%;
	height: 600px;
	float: left;
	position: relative;
}
#right {
	position: relative;
	height: 600px;
	width: 85%;
	float: right;
}

div {
	background: url(http://www.hdwallpapers.in/walls/water_drops_on_glass-wide.jpg) no-repeat; /* anh nen */
    background-attachment: fixed;
}

#right img {
	margin: 20px 50px;
	float: left;
	height: 400px;
	width: auto;
}

#right {
	font-family: cursive;
	color: #00ee00;
	text-align: left;
}

#right h2 {
	color: red;
	font-weight: bold;
}

.template {
	color: #66FFFF;
	font-weight: bold;
	font-family: Tahoma;
}

#footer {
  position: fixed;
  float : center;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
}